.profile__edit {
  padding: 7px;
  border: 1px solid white;
  max-height: 10px;
  margin: auto 0;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__edit:hover {
  opacity: .5;
}

@media screen and (max-width: 600px) {
  .profile__edit {
    max-width: 18px;
  }
}