.profile__add {
  height: 30px;
  align-self: center;
  border: 2px solid white;
  padding: 14px 64px;
  cursor: pointer;
  transition: opacity .4s;
}

.profile__add:hover {
  opacity: .5;
}

@media screen and (min-width: 601px) and (max-width: 894px) {
  .profile__add {
    padding: 7px 26px;
  }
}

@media screen and (max-width: 600px) {
  .profile__add {
    padding: 14px calc(260px / 2);
  }
}