.popup {
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
}

.form {
  width: 430px;
  max-height: 330px;
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .form {
    width: 282px;
    height: 322px;
  }
}